h2{
    border-bottom: solid lightgray;
}

.centr {
    width: 400px;
    margin: 10px auto 10px;
    font-family: 'Helvetica', sans-serif;
}

.notranslate{
    background-color: lightgrey;
    border-radius: 5px;
}
